server:
  port: 8888

spring:
  application:
    name: config-server


  cloud:
    config:
      server:
        git:
          uri: file:///C:\Users\tyagi\OneDrive\Desktop\spring-boot-microservices\config-repo
          default-label: main